$rn3-searchbar-variants: (
    default: (),
    test: (
        background-color: lightgreen,
        border-radius: 10px,
        form: (
            background-color: '@:background-color',
            border-radius: '@:border-radius',
            item: (
                background-color: #ccc,
            ),
        ),
        dropdown: (
            item: (
                indicator: (
                    background-color: violet,
                ),
            )
        )
    ),
);

@import './node_modules/sass-recursive-map-merge/_recursive-map-merge.scss';
/*
    Functions
*/
@import './styles/functions/color';
@import './styles/functions/map';
@import './styles/functions/string';
@import './styles/functions/utils';

/*
    Variables
*/
@import './styles/variables/base-colors'; // leave here on top

@import './styles/variables/base-body';
@import './styles/variables/base-border';
@import './styles/variables/base-shadows';
@import './styles/variables/base-spacing';
@import './styles/variables/base-typography';
@import './styles/variables/base-z-index';
@import './styles/variables/searchbar';
@import './styles/variables/tooltip';

/*
    Styles
*/
@import './styles/searchbar';
@import './styles/tooltip';

