$rn3-font-family-monospace: var(--rn3-font-family-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace) !default;
$rn3-font-family: var(--rn3-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji") !default;
$rn3-font-size: var(--rn3-font-size, 1rem) !default;
$rn3-font-size-small: var(--rn3-font-size-small, 0.75rem) !default;
$rn3-font-weight-bold: var(--rn3-font-bold, 700) !default;
$rn3-font-weight-bolder: var(--rn3-font-bolder, bolder) !default;
$rn3-font-weight-light: var(--rn3-font-light, 300) !default;
$rn3-font-weight-lighter: var(--rn3-font-lighter, lighter) !default;
$rn3-font-weight-normal: var(--rn3-font-normal, 400) !default;
$rn3-line-height: var(--rn3-font-height, 1.25) !default;
