$rn3-animation-delay: var(--rn3-animation-delay, 0s) !default;
$rn3-animation-duration: var(--rn3-animation-duration, 200ms) !default;
$rn3-animation-timing-function: var(--rn3-animation-timing-function, ease-in-out) !default;
