$rn3-datepicker-default: (
    background-color: var(--rn3-datepicker-background-color, #{$rn3-body-bg}),
    border-radius: var(--rn3-datepicker-border-radius, #{$rn3-border-radius}),
    border: var(--rn3-datepicker-border, #{$rn3-border}),
    color: var(--rn3-datepicker-color, #{$rn3-black}),
    font-family: var(--rn3-datepicker-font-family, #{$rn3-font-family}),
    font-size: var(--rn3-datepicker-font-size, #{$rn3-font-size}),
    font-weight: var(--rn3-datepicker-font-weight, #{$rn3-font-weight-light}),
    padding: var(--rn3-datepicker-padding, #{$rn3-padding}),
    form: (
        height: var(--rn3-datepicker-form-height, 100%),
        background-color: var(--rn3-datepicker-form-background-color, var(--rn3-datepicker-background-color, #{$rn3-body-bg})),
        border: var(--rn3-datepicker-form-border, var(--rn3-datepicker-border, #{$rn3-border})),
        border-radius: var(--rn3-datepicker-form-border-radius, var(--rn3-datepicker-border-radius, #{$rn3-border-radius})),
        color: var(--rn3-datepicker-form-color, var(--rn3-datepicker-color, #{$rn3-body-color})),
        font-family: var(--rn3-datepicker-form-font-family, var(--rn3-datepicker-font-family, #{$rn3-font-family})),
        font-size: var(--rn3-datepicker-form-font-size, var(--rn3-datepicker-font-size, #{$rn3-font-size})),
        font-weight: var(--rn3-datepicker-form-font-weight, var(--rn3-datepicker-font-weight, #{$rn3-font-weight-light})),
        padding: var(--rn3-datepicker-form-padding, var(--rn3-datepicker-padding, #{$rn3-padding})),
        icon: (
            background-color: var(--rn3-datepicker-form-icon-background-color, var(--rn3-datepicker-background-color, #{$rn3-body-bg})),
            color: var(--rn3-datepicker-form-icon-color, var(--rn3-datepicker-color, #{$rn3-black-25})),
        ),
        display: (
            background-color: var(--rn3-datepicker-form-display-background-color, var(--rn3-datepicker-background-color, #{$rn3-body-bg})),
            color: var(--rn3-datepicker-form-display-color, var(--rn3-datepicker-color, #{$rn3-black})),
            overflow: var(--rn3-datepicker-form-display-overflow, hidden),
            text-align: var(--rn3-datepicker-form-display-text-align, center),
            text-overflow: var(--rn3-datepicker-form-display-text-overflow, ellipsis),
            white-space: var(--rn3-datepicker-form-display-white-space, nowrap),
            user-select: var(--rn3-datepicker-form-display-user-select, none),
        ),
        arrow: (
            background-color: var(--rn3-datepicker-form-arrow-background-color, var(--rn3-datepicker-background-color, #{$rn3-body-bg})),
            color: var(--rn3-datepicker-form-arrow-color, var(--rn3-datepicker-color, #{$rn3-black-25})),
            transition: var(--rn3-datepicker-form-arrow-transition, transform #{$rn3-transition-duration} #{$rn3-transition-timing-function}),
        ),
    ),
    dropdown: (
        background-color: var(--rn3-datepicker-dropdown-background-color, var(--rn3-datepicker-background-color, #{$rn3-body-bg})),
        border: var(--rn3-datepicker-dropdown-border, var(--rn3-datepicker-border, #{$rn3-border})),
        border-radius: var(--rn3-datepicker-dropdown-border-radius, var(--rn3-datepicker-border-radius, #{$rn3-border-radius})),
        box-shadow: var(--rn3-datepicker-dropdown-box-shadow, #{$rn3-box-shadow}),
        color: var(--rn3-datepicker-dropdown-color, var(--rn3-datepicker-color, #{$rn3-body-color})),
        font-family: var(--rn3-datepicker-dropdown-font-family, var(--rn3-datepicker-font-family, #{$rn3-font-family})),
        font-size: var(--rn3-datepicker-dropdown-font-size, var(--rn3-datepicker-font-size, #{$rn3-font-size})),
        font-weight: var(--rn3-datepicker-dropdown-font-weight, var(--rn3-datepicker-font-weight, #{$rn3-font-weight-light})),
        max-height: var(--rn3-datepicker-dropdown-max-height, 30rem),
        z-index: var(--rn3-searhcbar-dropdown-z-index, #{$rn3-z-index-dropdown}),
    )
);

$rn3-datepicker-variants: (
    default: $rn3-datepicker-default,
) !default;

$rn3-datepicker-variants: deep-merge($rn3-datepicker-default, $rn3-datepicker-variants);
