$rn3-dropdown-default: (
    background-color: var(--rn3-dropdown-background-color, #{$rn3-body-bg}),
    border-radius: var(--rn3-dropdown-border-radius, #{$rn3-border-radius}),
    border: var(--rn3-dropdown-border, #{$rn3-border}),
    color: var(--rn3-dropdown-color, #{$rn3-black}),
    font-family: var(--rn3-dropdown-font-family, #{$rn3-font-family}),
    font-size: var(--rn3-dropdown-font-size, #{$rn3-font-size}),
    font-weight: var(--rn3-dropdown-font-weight, #{$rn3-font-weight-light}),
    padding: var(--rn3-dropdown-padding, #{$rn3-padding}),
    form: (),
    dropdown: ()
);

$rn3-dropdown-variants: (
    default: $rn3-dropdown-default,
) !default;

$rn3-dropdown-variants: deep-merge($rn3-dropdown-default, $rn3-dropdown-variants);
