$rn3-searchbar-default: (
    background-color: var(--rn3-searchbar-background-color, #{$rn3-body-bg}),
    border-radius: var(--rn3-searchbar-border-radius, #{$rn3-border-radius}),
    border: var(--rn3-searchbar-border, #{$rn3-border}),
    color: var(--rn3-searchbar-color, #{$rn3-black}),
    font-family: var(--rn3-searchbar-font-family, #{$rn3-font-family}),
    font-size: var(--rn3-searchbar-font-size, #{$rn3-font-size}),
    font-weight: var(--rn3-searchbar-font-weight, #{$rn3-font-weight-light}),
    padding: var(--rn3-searchbar-padding, #{$rn3-padding}),
    form: (
        background-color: var(--rn3-searchbar-form-background-color, var(--rn3-searchbar-background-color, #{$rn3-body-bg})),
        border: var(--rn3-searchbar-form-border, var(--rn3-searchbar-border, #{$rn3-border})),
        border-radius: var(--rn3-searchbar-form-border-radius, var(--rn3-searchbar-border-radius, #{$rn3-border-radius})),
        color: var(--rn3-searchbar-form-color, var(--rn3-searchbar-color, #{$rn3-body-color})),
        font-family: var(--rn3-searchbar-form-font-family, var(--rn3-searchbar-font-family, #{$rn3-font-family})),
        font-size: var(--rn3-searchbar-form-font-size, var(--rn3-searchbar-font-size, #{$rn3-font-size})),
        font-weight: var(--rn3-searchbar-form-font-weight, var(--rn3-searchbar-font-weight, #{$rn3-font-weight-light})),
        icon: (
            color: var(--rn3-searchbar-form-icon-color, #{$rn3-black-25}),
            padding: var(--rn3-searchbar-form-icon-padding, var(--rn3-searchbar-padding, #{$rn3-padding})),
        ),
        input: (
            color: var(--rn3-searchbar-form-input-color, var(--rn3-searchbar-color, #{$rn3-body-color})),
            font-family: var(--rn3-searchbar-form-input-font-family, var(--rn3-searchbar-font-family, #{$rn3-font-family})),
            font-size: var(--rn3-searchbar-form-input-font-size, var(--rn3-searchbar-font-size, #{$rn3-font-size})),
            font-weight: var(--rn3-searchbar-form-input-font-weight, var(--rn3-searchbar-font-weight, #{$rn3-font-weight-light})),
            line-height: var(--rn3-searchbar-form-input-color, #{$rn3-line-height}),
            margin-top: var(--rn3-searchbar-form-input-margin-top, #{$rn3-margin-y}),
            min-width: var(--rn3-searchbar-form-input-min-width, 6rem),
            padding: var(--rn3-searchbar-form-input-padding, #{$rn3-padding-25}),
            placeholder: (
                color: var(--rn3-searchbar-form-input-placeholder-color, #{$rn3-black-25}),
            ),
        ),
        field: (
            padding-bottom: var(--rn3-searchbar-form-field-padding-bottom, #{$rn3-padding-y}),
        ),
        item: (
            background-color: var(--rn3-searchbar-form-item-background-color, #{$rn3-blue}),
            border: var(--rn3-searchbar-form-item-border, var(--rn3-searchbar-border, #{$rn3-border})),
            border-radius: var(--rn3-searchbar-form-item-border-radius, var(--rn3-searchbar-border-radius, #{$rn3-border-radius})),
            color: var(--rn3-searchbar-form-item-color, #{$rn3-white}),
            height: var(--rn3-searchbar-form-item-height, 1.5rem),
            margin: var(--rn3-searchbar-form-item-margin, #{$rn3-margin-y} #{$rn3-margin-x-50} 0 0),
            max-height: var(--rn3-searchbar-form-item-max-height, 1.5rem),
            content: (
                padding: var(--rn3-searchbar-form-item-content-padding, 0 #{$rn3-padding-x-50}),
                text-shadow: var(--rn3-searchbar-form-item-content-text-shadow, #{$rn3-text-shadow}),
            ),
            remove: (
                background-color: var(--rn3-searchbar-form-item-remove-background-color, #{$rn3-black-25}),
                transition: var(--rn3-searchbar-form-item-remove-transition, background-color #{$rn3-transition-duration} #{$rn3-transition-timing-function}),
                hover: (
                    background-color: var(--rn3-searchbar-form-item-remove-hover-background-color, #{$rn3-black-30}),
                ),
            ),
        ),
        backspace: (
            color: var(--rn3-searchbar-form-backspace-color, #{$rn3-black-25}),
            padding: var(--rn3-searchbar-form-backspace-padding, var(--rn3-searchbar-padding, #{$rn3-padding})),
            transition: var(--rn3-searchbar-form-backspace-transition, color #{$rn3-transition-duration} #{$rn3-transition-timing-function}),
            hover: (
                color: var(--rn3-searchbar-form-backspace-hover-color, #{$rn3-black-50}),
            ),
        ),
        clear-btn: (
            border-left: var(--rn3-searchbar-form-clear-btn-border-left, var(--rn3-searchbar-border, #{$rn3-border})),
            color: var(--rn3-searchbar-form-clear-btn-color, #{$rn3-black-25}),
            padding: var(--rn3-searchbar-form-clear-btn-padding, var(--rn3-searchbar-padding, #{$rn3-padding})),
            transition: var(--rn3-searchbar-form-clear-btn-transition, color #{$rn3-transition-duration} #{$rn3-transition-timing-function}),
            hover: (
                color: var(--rn3-searchbar-form-clear-btn-hover-color, #{$rn3-black-50}),
            ),
        ),
        mic: (
            border-left: var(--rn3-searchbar-form-mic-border-left, var(--rn3-searchbar-border, #{$rn3-border})),
            color: var(--rn3-searchbar-form-mic-color, #{$rn3-black-25}),
            padding: var(--rn3-searchbar-form-mic-padding, var(--rn3-searchbar-padding, #{$rn3-padding})),
            transition: var(--rn3-searchbar-form-mic-transition, color #{$rn3-transition-duration} #{$rn3-transition-timing-function}),
            hover: (
                color: var(--rn3-searchbar-form-mic-hover-color, #{$rn3-black-50}),
            ),
        ),
    ),
    dropdown: (
        background-color: var(--rn3-searchbar-dropdown-background-color, var(--rn3-searchbar-background-color, #{$rn3-body-bg})),
        border: var(--rn3-searchbar-dropdown-border, var(--rn3-searchbar-border, #{$rn3-border})),
        border-radius: var(--rn3-searchbar-dropdown-border-radius, var(--rn3-searchbar-border-radius, #{$rn3-border-radius})),
        box-shadow: var(--rn3-searchbar-dropdown-box-shadow, #{$rn3-box-shadow}),
        color: var(--rn3-searchbar-dropdown-color, var(--rn3-searchbar-color, #{$rn3-body-color})),
        font-family: var(--rn3-searchbar-dropdown-font-family, var(--rn3-searchbar-font-family, #{$rn3-font-family})),
        font-size: var(--rn3-searchbar-dropdown-font-size, var(--rn3-searchbar-font-size, #{$rn3-font-size})),
        font-weight: var(--rn3-searchbar-dropdown-font-weight, var(--rn3-searchbar-font-weight, #{$rn3-font-weight-light})),
        max-height: var(--rn3-searchbar-dropdown-max-height, 30rem),
        z-index: var(--rn3-searhcbar-dropdown-z-index, #{$rn3-z-index-dropdown}),
        item: (
            padding: var(--rn3-searchbar-dropdown-item-padding, #{$rn3-padding-y-50} #{$rn3-padding-x}),
            indicator: (
                background-color: var(--rn3-searchbar-dropdown-item-indicator-background-color, #{$rn3-blue}),
                width: var(--rn3-searchbar-dropdown-item-indicator-width, 2px),
            ),
        ),
        error: (
            padding: var(--rnr-searchbar-dropdown-error-padding, #{$rn3-padding-y-50} #{$rn3-padding-x})
        ),
        no-results: (
            padding: var(--rnr-searchbar-dropdown-no-results-padding, #{$rn3-padding-y-50} #{$rn3-padding-x})
        ),
        loading: (
            padding: var(--rnr-searchbar-dropdown-loading-padding, #{$rn3-padding-y-50} #{$rn3-padding-x})
        ),
    )
);

$rn3-searchbar-variants: (
    default: $rn3-searchbar-default,
) !default;

$rn3-searchbar-variants: deep-merge($rn3-searchbar-default, $rn3-searchbar-variants);
