$rn3-tooltip: (
    background: $rn3-white,
    border-radius: $rn3-border-radius,
    box-shadow: $rn3-box-shadow,
    color: $rn3-black,
    font-family: $rn3-font-family,
    font-size: $rn3-font-size,
    font-weight: $rn3-font-weight-light,
    padding: $rn3-padding,
) !default;
