$rn3-transition-delay: var(--rn3-transition-delay, 0s) !default;
$rn3-transition-duration: var(--rn3-transition-duration, 200ms) !default;
$rn3-transition-timing-function: var(--rn3-transition-timing-function, ease-in-out) !default;
