$rn3-black: rgb(0, 0, 0) !default;
$rn3-black-25: rgba(0, 0, 0, 0.25) !default;
$rn3-black-50: rgba(0, 0, 0, 0.5) !default;

$rn3-white: rgb(255, 255, 255) !default;
$rn3-white-25: rgba(255, 255, 255, 0.25) !default;
$rn3-white-50: rgba(255, 255, 255, 0.5) !default;
