$rn3-z-index-dropdown: var(--rn3-z-index-dropdown, 1000) !default;
$rn3-z-index-fixed: var(--rn3-z-index-fixed, 1030) !default;
$rn3-z-index-modal-backdrop: var(--rn3-z-index-modal-backdrop, 1040) !default;
$rn3-z-index-modal: var(--rn3-z-index-modal, 1040) !default;
$rn3-z-index-popover: var(--rn3-z-index-popover, 1050) !default;
$rn3-z-index-sticky: var(--rn3-z-index-sticky, 1020) !default;
$rn3-z-index-tooltip: var(--rn3-z-index-tooltip, 1070) !default;
