$rn3-searchbar-default: (
    background-color: $rn3-body-bg,
    border-radius: $rn3-border-radius,
    border: $rn3-border,
    color: $rn3-black,
    font-family: $rn3-font-family,
    font-size: $rn3-font-size,
    font-weight: $rn3-font-weight-light,
    form: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        icon: (
            color: $rn3-black-25,
        ),
        input: (
            color: '@:color',
            font-family: '@:font-family',
            font-size: '@:font-size',
            font-weight: '@:font-weight',
            line-height: $rn3-line-height,
            margin-top: $rn3-margin-y,
            min-width: 6rem,
            padding: math.div($rn3-padding-x, 4) math.div($rn3-padding-x, 4),
            placeholder: (
                color: $rn3-black-25,
            ),
        ),
        clear-btn: (
            color: $rn3-black-25,
        ),
        backspace: (
            color: $rn3-black-25,
        ),
        mic: (
            color: $rn3-black-25,
        ),
    ),
    dropdown: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        box-shadow: $rn3-box-shadow,
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        font-size: '@:font-size',
        max-height: 30rem,
    )
);

$rn3-searchbar-variants: (
    default: $rn3-searchbar-default,
) !default;

$rn3-searchbar-variants: deep-merge($rn3-searchbar-default, $rn3-searchbar-variants);
