$rn3-searchbar-default: (
    background-color: $rn3-body-bg,
    border-radius: $rn3-border-radius,
    border: $rn3-border,
    color: $rn3-black,
    font-family: $rn3-font-family,
    font-size: $rn3-font-size,
    font-weight: $rn3-font-weight-light,
    padding: $rn3-padding-y $rn3-padding-x,
    form: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        icon: (
            color: $rn3-black-25,
            padding: '@:padding',
        ),
        input: (
            color: '@:color',
            font-family: '@:font-family',
            font-size: '@:font-size',
            font-weight: '@:font-weight',
            line-height: $rn3-line-height,
            margin-top: $rn3-margin-y,
            min-width: 6rem,
            padding: math.div($rn3-padding-x, 4) math.div($rn3-padding-x, 4),
            placeholder: (
                color: $rn3-black-25,
            ),
        ),
        field: (
            padding-bottom: $rn3-padding-y,
        ),
        item: (
            border: '@:border',
            border-radius: '@:border-radius',
            background-color: lightskyblue,
            color: $rn3-white,
            height: 1.5rem,
            margin-right: math.div($rn3-margin-x, 2),
            margin-top: $rn3-margin-y,
            max-height: 1.5rem,
            content: (
                padding: 0 math.div($rn3-padding-x, 2),
                text-shadow: $rn3-text-shadow,
            ),
            remove: (
                background-color: $rn3-black-25,
                transition: background-color 250ms ease-in-out,
                hover: (
                    background-color: $rn3-black-30,
                ),
            ),
        ),
        backspace: (
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
        clear-btn: (
            border-left: '@:border',
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
        mic: (
            border-left: '@:border',
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
    ),
    dropdown: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        box-shadow: $rn3-box-shadow,
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        font-size: '@:font-size',
        max-height: 30rem,
        item: (
            padding: math.div($rn3-padding-y, 2) $rn3-padding-x,
        )
    )
);

$rn3-searchbar-variants: (
    default: $rn3-searchbar-default,
) !default;

$rn3-searchbar-variants: deep-merge($rn3-searchbar-default, $rn3-searchbar-variants);
