$rn3-searchbar-default: (
    background-color: var(--rn3-searchbar-background-color, #{$rn3-body-bg}),
    border-radius: var(--rn3-searchbar-border-radius, $rn3-border-radius),
    border: var(--rn3-searchbar-border, $rn3-border),
    color: var(--rn3-searchbar-black, $rn3-black),
    font-family: var(--rn3-searchbar-font-family, $rn3-font-family),
    font-size: var(--rn3-searchbar-font-size, $rn3-font-size),
    font-weight: var(--rn3-searchbar-font-weight-light, $rn3-font-weight-light),
    padding: var(--rn3-searchbar-padding, $rn3-padding),
    form: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        icon: (
            color: var(--rn3-searchbar-form-icon-color, #{$rn3-black-25}),
            padding: '@:padding',
        ),
        input: (
            color: '@:color',
            font-family: '@:font-family',
            font-size: '@:font-size',
            font-weight: '@:font-weight',
            line-height: var(--rn3-searchbar-form-input-color, #{$rn3-line-height}),
            margin-top: var(--rn3-searchbar-form-input-margin-top, #{$rn3-margin-y}),
            min-width: var(--rn3-searchbar-form-input-min-width, 6rem),
            padding: var(--rn3-searchbar-form-input-padding, #{$rn3-padding-25}),
            placeholder: (
                color: var(--rn3-searchbar-form-input-placeholder-color, #{$rn3-black-25}),
            ),
        ),
        field: (
            padding-bottom: var(--rn3-searchbar-form-field-padding-bottom, #{$rn3-padding-y}),
        ),
        item: (
            border: '@:border',
            border-radius: '@:border-radius',
            background-color: lightskyblue,
            color: $rn3-white,
            height: 1.5rem,
            margin-right: $rn3-margin-x-50,
            margin-top: $rn3-margin-y,
            max-height: 1.5rem,
            content: (
                padding: 0 $rn3-padding-x-50,
                text-shadow: $rn3-text-shadow,
            ),
            remove: (
                background-color: $rn3-black-25,
                transition: background-color 250ms ease-in-out,
                hover: (
                    background-color: $rn3-black-30,
                ),
            ),
        ),
        backspace: (
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
        clear-btn: (
            border-left: '@:border',
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
        mic: (
            border-left: '@:border',
            color: $rn3-black-25,
            padding: '@:padding',
            transition: color 250ms ease-in-out,
            hover: (
                color: $rn3-black-50,
            ),
        ),
    ),
    dropdown: (
        background-color: '@:background-color',
        border-radius: '@:border-radius',
        border: '@:border',
        box-shadow: $rn3-box-shadow,
        color: '@:color',
        font-family: '@:font-family',
        font-weight: '@:font-weight',
        font-size: '@:font-size',
        max-height: 30rem,
        item: (
            padding: $rn3-padding-y-50 $rn3-padding-x,
        )
    )
);

$rn3-searchbar-variants: (
    default: $rn3-searchbar-default,
) !default;

$rn3-searchbar-variants: deep-merge($rn3-searchbar-default, $rn3-searchbar-variants);
