.rn3-datepicker {
    box-sizing: border-box;
    padding: 0;
    position: relative;

    &__form {
        align-items: center;
        box-sizing: border-box;
        display: grid;
        gap: 0.5rem 0.5rem;
        grid-template-areas: "form-icon form-display form-arrow";
        grid-template-columns: min-content 1fr min-content;
        grid-template-rows: 1fr;

        &-icon {
            grid-area: form-icon;
        }

        &-display {
            grid-area: form-display;
        }

        &-arrow {
            grid-area: form-arrow;
            transform: rotate(0deg);
        }
    }

    &__dropdown {
        box-sizing: border-box;
        display: none;
        left: 0;
        min-width: 100%;
        overflow: auto;
        position: absolute;
        top: 100%;
        width: auto;

        &-period-control {
            border-bottom: 1px solid $rn3-black-25;
            display: flex;
            justify-content: space-around;

            .period-control-items {
                cursor: pointer;
                flex: 1;
                text-align: center;
                user-select: none;
            }
        }

        &-period-display {
            display: flex;
        }

        &-period-displays {
            align-items: center;
            display: flex;
            flex: 1;
            justify-content: center;
            padding: $rn3-padding;

            &:not(:first-child) {
                border-left: 1px solid $rn3-black-25;
            }
        }

        &-period-pages {
            display: flex;
            flex-wrap: wrap;
            min-width: 15rem;
            width: 100%;

            &:not(:first-child) {
                border-left: 1px solid $rn3-black-25;
            }
        }

        &-periods-wrapper {
            display: flex;

            .period-items {
                align-items: center;
                box-sizing: border-box;
                justify-content: center;
                padding: 0.5rem;
                font-size: $rn3-font-size-small;
                display: flex;
                transition: border-radius $rn3-transition-duration $rn3-transition-timing-function;

                &--not-valid-date {
                    color: $rn3-black-25;
                    font-size: $rn3-font-size-small;
                    overflow: hidden;
                    pointer-events: none;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: normal;
                }

                &--valid-date {
                    cursor: pointer;

                    &:hover {
                        background-color: $rn3-blue;
                        color: $rn3-white;
                        border-bottom-left-radius: inherit;
                        border-bottom-right-radius: inherit;
                        border-top-left-radius: inherit;
                        border-top-right-radius: inherit;
                    }
                }

                &--out-of-range {
                    color: $rn3-black-25;
                    pointer-events: none;
                }

                &--now {
                    text-decoration: underline;
                }

                &--start,
                &--end,
                &--middle {
                    background-color: $rn3-blue;
                    color: $rn3-white;

                    &:hover {
                        background-color: $rn3-blue;
                    }
                }

                &--end {
                    border-bottom-right-radius: $rn3-border-radius;
                    border-top-right-radius: $rn3-border-radius;
                }

                &--start {
                    border-bottom-left-radius: $rn3-border-radius;
                    border-top-left-radius: $rn3-border-radius;
                }

                &--middle {
                    border-radius: 0;
                }
            }
        }

        &-custom-periods-wrapper {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $rn3-black-25;
            padding: $rn3-padding;

            &--empty {
                display: none;
            }
        }

        &-custom-periods {
            @include button;
        }

        &-action-wrapper {
            border-top: 1px solid $rn3-black-25;
            display: flex;
            justify-content: center;
            padding: $rn3-padding;
        }

        &-apply-button {
            @include button;
        }

        &--open {
            display: flex;
            flex-direction: column;

            ~ div.rn3-datepicker__form {
                div.rn3-datepicker__form-arrow {
                    transform: rotate(180deg);
                }
            }
        }

        @include scrollbar($rn3-black-25, transparent);
    }

    &--day-mode {
        .rn3-datepicker__dropdown-periods-wrapper {
            .period-items {
                width: calc(100% / 7);
            }
        }
    }

    @each $name, $datepicker in $rn3-datepicker-variants {
        &--#{$name} {
            .rn3-datepicker__form {
                @each $property, $value in map-get($datepicker, 'form') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-icon {
                @each $property, $value in map-deep-get($datepicker, 'form', 'icon') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-display {
                @each $property, $value in map-deep-get($datepicker, 'form', 'display') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-arrow {
                @each $property, $value in map-deep-get($datepicker, 'form', 'arrow') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown {
                @each $property, $value in map-get($datepicker, 'dropdown') {
                    #{$property}: reveal-value($datepicker, $value);
                }

                &--open {
                    $br: get-value($datepicker, 'dropdown', 'border-radius');

                    border-radius: 0 0 $br $br;

                    + .rn3-datepicker__form {
                        $br: get-value($datepicker, 'form', 'border-radius');

                        border-radius: $br $br 0 0;
                    }
                }
            }

            .rn3-datepicker__dropdown-period-control {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-control') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }
        }
    }
}
