.rn3-datepicker {
    box-sizing: border-box;
    padding: 0;
    position: relative;

    &__form {
        align-items: center;
        box-sizing: border-box;
        display: grid;
        gap: 0.5rem 0.5rem;
        grid-template-areas: "form-icon form-display form-arrow";
        grid-template-columns: min-content 1fr min-content;
        grid-template-rows: 1fr;

        &-icon {
            grid-area: form-icon;
        }

        &-display {
            grid-area: form-display;
        }

        &-arrow {
            grid-area: form-arrow;
            transform: rotate(0deg);
        }
    }

    &__dropdown {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        left: 0;
        min-width: 100%;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform-origin: top left;
        transform: scaleY(0.75);
        transition:
            opacity $rn3-transition-duration $rn3-transition-timing-function,
            transform $rn3-transition-duration $rn3-transition-timing-function;
        width: auto;

        &-period-selection {
            display: flex;
            justify-content: center;
            align-items: center;

            &-to {
                margin-left: $rn3-margin-x;
            }

            &-from,
            &-to {
                align-items: center;
                border-radius: $rn3-border-radius;
                border: $rn3-border;
                box-sizing: border-box;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                padding: $rn3-padding-y-50 $rn3-padding-x-50;
                transition:
                    border $rn3-transition-duration $rn3-transition-timing-function,
                    box-shadow $rn3-transition-duration $rn3-transition-timing-function,
                    color $rn3-transition-duration $rn3-transition-timing-function;

                &-icon {
                    color: $rn3-black-25;
                    transition: color $rn3-transition-duration $rn3-transition-timing-function;
                }

                &-input {
                    background: transparent;
                    border: 0;
                    box-sizing: border-box;
                    display: flex;
                    margin-left: $rn3-margin-x-25;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;

                    &::placeholder {
                        transition: color $rn3-transition-duration $rn3-transition-timing-function;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                &--focus {
                    border: 1px solid $rn3-blue;
                    box-shadow: 0 0 3px $rn3-blue;

                    input.rn3-datepicker__dropdown-period-selection-from-input,
                    input.rn3-datepicker__dropdown-period-selection-to-input {
                        outline-offset: 0;

                        &::placeholder {
                            color: $rn3-blue;
                        }
                    }

                    div.rn3-datepicker__dropdown-period-selection-from-icon,
                    div.rn3-datepicker__dropdown-period-selection-to-icon {
                        color: $rn3-blue;
                    }
                }
            }
        }

        &-period-control {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(3, minmax(min-content, 1fr));
            grid-template-rows: 1fr;
            opacity: 0;
            height: 0;
            transition:
                opacity $rn3-transition-duration $rn3-transition-timing-function,
                height $rn3-transition-duration $rn3-transition-timing-function;

            &-buttons {
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
                white-space: nowrap;
            }

            &--visible {
                height: 2.5rem;
                opacity: 1;
            }
        }

        &-periods-wrapper {
            border-bottom: 1px solid $rn3-black-25;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            opacity: 0;
            height: 0;
            transition:
                opacity $rn3-transition-duration $rn3-transition-timing-function,
                height $rn3-transition-duration $rn3-transition-timing-function;

            &--visible {
                height: 218px;
                opacity: 1;
            }
        }

        &-period-items {
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
            display: flex;
            transition: border-radius $rn3-transition-duration $rn3-transition-timing-function;

            &--disabled,
            &--not-valid-date {
                color: $rn3-black-25;
                font-size: $rn3-font-size-small;
                overflow: hidden;
                pointer-events: none;
                text-align: center;
                text-overflow: ellipsis;
                white-space: normal;
            }

            &--valid-date {
                cursor: pointer;

                &:hover {
                    background-color: $rn3-blue;
                    color: $rn3-white;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
            }

            &--out-of-range {
                color: $rn3-black-25;
                pointer-events: none;
            }

            &--highlighted {
                font-weight: $rn3-font-weight-bold;
            }

            &--now {
                text-decoration: underline;
            }

            &--start,
            &--end,
            &--middle {
                color: $rn3-white;
            }

            &--end {
                background-color: $rn3-blue;
                border-bottom-right-radius: $rn3-border-radius;
                border-top-right-radius: $rn3-border-radius;
            }

            &--start {
                background-color: $rn3-blue;
                border-bottom-left-radius: $rn3-border-radius;
                border-top-left-radius: $rn3-border-radius;
            }

            &--middle {
                background-color: $rn3-blue-75;
                border-radius: 0;
            }
        }

        &-custom-periods-wrapper {
            display: flex;
            flex-direction: column;

            &--empty {
                display: none;
            }
        }

        &-custom-periods {
            @include button(
                $rn3-white,
                $rn3-blue,
                0,
                $rn3-black,
                $rn3-white,
            );
        }

        &--open {
            opacity: 1;
            pointer-events: all;
            transform: scaleY(1);

            ~ div.rn3-datepicker__form {
                div.rn3-datepicker__form-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &--day-mode,
    &--week-mode {
        .rn3-datepicker__dropdown-period-items {
                width: calc(100% / 7);
        }
    }

    &--month-mode {
        .rn3-datepicker__dropdown-period-items {
            width: calc(100% / 3);
        }
    }

    @each $name, $datepicker in $rn3-datepicker-variants {
        &--#{$name} {
            .rn3-datepicker__form {
                @each $property, $value in map-get($datepicker, 'form') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-icon {
                @each $property, $value in map-deep-get($datepicker, 'form', 'icon') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-display {
                @each $property, $value in map-deep-get($datepicker, 'form', 'display') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__form-arrow {
                @each $property, $value in map-deep-get($datepicker, 'form', 'arrow') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown {
                @each $property, $value in map-get($datepicker, 'dropdown') {
                    #{$property}: reveal-value($datepicker, $value);
                }

                &--open {
                    $br: get-value($datepicker, 'dropdown', 'border-radius');

                    border-radius: 0 0 $br $br;

                    + .rn3-datepicker__form {
                        $br: get-value($datepicker, 'form', 'border-radius');

                        border-radius: $br $br 0 0;
                    }
                }
            }

            .rn3-datepicker__dropdown-period-selection {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-selection') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown-period-control {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-control') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown-period-control-buttons {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-control', 'buttons') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown-period-control-buttons:hover {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-control', 'buttons', 'hover') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }

            .rn3-datepicker__dropdown-period-items {
                @each $property, $value in map-deep-get($datepicker, 'dropdown', 'period-items') {
                    #{$property}: reveal-value($datepicker, $value);
                }
            }
        }
    }
}
