.rn3-searchbar {
    box-sizing: border-box;
    padding: 0;
    position: relative;

    &__form {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: "icon field backspace clear-btn mic";
        grid-template-columns: minmax(0, min-content) minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content) minmax(0, min-content);
        grid-template-rows: 1fr;
    }

    &__form-input {
        background-color: transparent;
        border: none;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__form-icon,
    &__form-backspace,
    &__form-clear-btn,
    &__form-item,
    &__form-item-remove,
    &__form-mic {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    &__form-backspace,
    &__form-mic,
    &__form-clear-btn {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin: 0;

        &:hover:not([disabled]) {
            cursor: pointer;
        }

        &[disabled] {
            cursor: not-allowed;
        }
    }

    &__form-icon {
        grid-area: icon;
    }

    &__form-backspace {
        grid-area: backspace;
    }

    &__form-clear-btn {
        grid-area: clear-btn;
    }

    &__form-mic {
        grid-area: mic;
    }

    &__form-field {
        display: flex;
        flex-wrap: wrap;
        grid-area: field;

        &:hover {
            cursor: text;
        }
    }

    &__form-item,
    &__form-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__form-item {
        box-sizing: border-box;
        cursor: default;
        user-select: none;
    }

    &__form-item-content {
        user-select: none;
    }

    &__form-item-remove {
        cursor: pointer;
        height: 100%;

        * {
            pointer-events: none;
        }
    }

    &__dropdown {
        box-sizing: border-box;
        display: none;
        left: 0;
        overflow: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: $rn3-z-index-dropdown;

        &--open {
            display: flex;
            flex-direction: column;
        }

        &--error,
        &--no-results,
        &--loading {
            padding: math.div($rn3-padding-y, 2) $rn3-padding-x;
        }
    }

    &__dropdown-item,
    &__dropdown-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__dropdown-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 1 0 auto;
        position: relative;
        user-select: none;

        &--preselected,
        &:hover {
            background-color: $rn3-black-10;

            &::before {
                background-color: lightskyblue;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                width: 2px;
            }

            &::after {
                content: '';
                flex: 1;
                font-size: 0.75rem;
                padding-left: math.div($rn3-padding-x, 2);
                position: relative;
                text-align: right;
                text-decoration: underline;
            }
        }

        &:hover {
            &::after {
                content: 'Click to select';
            }
        }

        &--present {
            &:hover {
                &::after {
                    content: 'Click to remove';
                }
            }
        }

        &--preselected:not(&--present) {
            &::after {
                content: 'Enter to select';
            }
        }

        &--present.rn3-searchbar__dropdown-item--preselected {
            &::after {
                content: 'Enter to remove';
            }
        }
    }

    @each $name, $searchbar in $rn3-searchbar-variants {
        &--#{$name} {
            .rn3-searchbar__form {
                @each $property, $value in map-get($searchbar, 'form') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-input {
                @each $property, $value in map-deep-get($searchbar, 'form', 'input') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-icon {
                @each $property, $value in map-deep-get($searchbar, 'form', 'icon') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-backspace {
                @each $property, $value in map-deep-get($searchbar, 'form', 'backspace') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-backspace:hover {
                @each $property, $value in map-deep-get($searchbar, 'form', 'backspace', 'hover') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-clear-btn {
                @each $property, $value in map-deep-get($searchbar, 'form', 'clear-btn') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-clear-btn:hover {
                @each $property, $value in map-deep-get($searchbar, 'form', 'clear-btn', 'hover') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-mic {
                @each $property, $value in map-deep-get($searchbar, 'form', 'mic') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-mic:hover {
                @each $property, $value in map-deep-get($searchbar, 'form', 'mic', 'hover') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-input::placeholder {
                @each $property, $value in map-deep-get($searchbar, 'form', 'input', 'placeholder') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-field {
                @each $property, $value in map-deep-get($searchbar, 'form', 'field') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-item {
                @each $property, $value in map-deep-get($searchbar, 'form', 'item') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-item-content {
                @each $property, $value in map-deep-get($searchbar, 'form', 'item', 'content') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-item-remove {
                @each $property, $value in map-deep-get($searchbar, 'form', 'item', 'remove') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__form-item-remove:hover {
                @each $property, $value in map-deep-get($searchbar, 'form', 'item', 'remove', 'hover') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }

            .rn3-searchbar__dropdown {
                @each $property, $value in map-get($searchbar, 'dropdown') {
                    #{$property}: reveal-value($searchbar, $value);
                }

                &--open {
                    $br: get-value($searchbar, 'dropdown', 'border-radius');

                    border-radius: 0 0 $br $br;

                    + .rn3-searchbar__form {
                        $br: get-value($searchbar, 'form', 'border-radius');

                        border-radius: $br $br 0 0;
                    }
                }
            }

            .rn3-searchbar__dropdown-item {
                @each $property, $value in map-deep-get($searchbar, 'dropdown', 'item') {
                    #{$property}: reveal-value($searchbar, $value);
                }
            }
        }
    }
}
