.rn3-searchbar {
    background: transparent;
    box-sizing: border-box;
    font-family: $rn3-font-family;
    padding: 0;
    position: relative;

    /*
        INPUT
    */
    &__input-group {
        border-radius: $rn3-border-radius;
        border: 1px solid $rn3-black-25;
        box-sizing: border-box;
        display: grid;
        grid-template-areas: "icon area backspace delete-btn mic";
        grid-template-columns: minmax(0, min-content) minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content) minmax(0, min-content);
        grid-template-rows: 1fr;
    }

    &__input-group-icon,
    &__input-group-backspace,
    &__input-group-delete-btn,
    &__input-group-mic {
        align-items: center;
        color: $rn3-black-25;
        display: flex;
        justify-content: center;
    }

    &__input-group-icon {
        grid-area: icon;
        padding: $rn3-padding-y $rn3-padding-y / 2 $rn3-padding-x $rn3-padding-x;
    }

    &__input-group-area {
        display: flex;
        flex-wrap: wrap;
        grid-area: area;
        min-width: 0;
        padding-bottom: $rn3-padding-y;
        padding-left: $rn3-padding-x / 2;

        &:hover {
            cursor: text;
        }
    }

    &__input-group-item,
    &__input-group-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__input-group-item {
        align-items: center;
        background-color: lightskyblue;
        border-radius: $rn3-border-radius;
        border: 1px solid $rn3-black-25;
        box-sizing: border-box;
        color: $rn3-white;
        cursor: default;
        display: flex;
        height: 1.5rem;
        margin-right: $rn3-margin-x / 2;
        margin-top: $rn3-margin-y;
        max-height: 1.5rem;
        user-select: none;
    }

    &__input-group-item-content {
        font-family: sans-serif;
        padding: 0 $rn3-padding-x / 2;
        text-shadow: $rn3-text-shadow;
        user-select: none;
    }

    &__input-group-item-remove {
        align-items: center;
        background-color: $rn3-black-25;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;

        * {
            pointer-events: none;
        }
    }

    &__input-group-backspace,
    &__input-group-delete-btn,
    &__input-group-mic {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin: 0;
        padding: $rn3-padding-y $rn3-padding-x;
        position: relative;
        transition: color 250ms linear, opacity 250ms linear;
    }

    &__input-group-backspace {
        grid-area: backspace;

        &:hover:not([disabled]) {
            color: $rn3-black-50;
            cursor: pointer;
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.8;
        }
    }

    &__input-group-delete-btn {
        grid-area: delete-btn;

        &:hover:not([disabled]) {
            color: $rn3-black-50;
            cursor: pointer;
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.8;
        }

        &::after {
            background-color: $rn3-black-25;
            content: '';
            height: 80%;
            left: 0;
            position: absolute;
            width: 1px;
        }
    }

    &__input-group-mic {
        grid-area: mic;

        &::after {
            background-color: $rn3-black-25;
            content: '';
            height: 80%;
            left: 0;
            position: absolute;
            width: 1px;
        }

        &:hover {
            color: $rn3-black-50;
        }
    }

    &__input-area-entry {
        background-color: transparent;
        border: none;
        flex: 1;
        font-size: 1rem;
        line-height: $rn3-line-height;
        margin-top: $rn3-margin-y;
        min-width: 6rem;
        overflow: hidden;
        padding: $rn3-padding-x / 4 $rn3-padding-x / 4;
        text-overflow: ellipsis;
        user-select: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $rn3-black-25;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    /*
        DROPDOWN
    */
    &__dropdown-group {
        background: $rn3-white;
        border-bottom: 1px solid $rn3-black-25;
        border-left: 1px solid $rn3-black-25;
        border-radius: $rn3-border-radius;
        border-right: 1px solid $rn3-black-25;
        box-shadow: $rn3-box-shadow;
        box-sizing: border-box;
        display: none;
        left: 0;
        max-height: 30rem;
        overflow: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;

        &--open {
            border-radius: 0 0 $rn3-border-radius $rn3-border-radius;
            display: flex;
            flex-direction: column;

            + .rn3-searchbar__input-group {
                border-radius: $rn3-border-radius $rn3-border-radius 0 0;
            }
        }

        &--error,
        &--no-results,
        &--loading {
            padding: $rn3-padding-y / 2 $rn3-padding-x;
        }
    }

    &__dropdown-group-item,
    &__dropdown-group-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__dropdown-group-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 1 0 auto;
        padding: $rn3-padding-y / 2 $rn3-padding-x;
        position: relative;
        user-select: none;

        &--preselected,
        &:hover {
            background-color: $rn3-black-10;

            &::before {
                background-color: lightskyblue;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                width: 2px;
            }

            &::after {
                flex: 1;
                font-size: 0.75rem;
                padding-left: $rn3-padding-x / 2;
                position: relative;
                text-align: right;
                text-decoration: underline;
            }
        }

        &:hover {
            &::after {
                content: 'Click to select';
            }
        }

        &--preselected {
            &::after {
                content: 'Enter to select';
            }
        }
    }
}
